body {
  margin: 0;
  text-align: center;
  padding: 0;
  background: #405564;
  color: #1b365c;
}

.container {
  background: #f9dca2;
  max-width: 500px;
  min-width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 30px auto;
}

h1 {
  font-weight: normal;
  margin: 0;
  padding: 30px;
}

h1 span {
  font-weight: bold;
}

h4 {
  margin: 0;
  padding: 30px;
}

button {
  cursor: pointer;
  margin: 30px;
  padding: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: blueviolet;
  border: 1px solid black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
